<body>

    <nav class="navbar">
        <div class="navbar-links">
            <a href="/about" class="navbar-link">About</a>


            <a href="/" class="navbar-link">Comprar Livros</a>


            <a href="/register" class="navbar-link">Cadastrar Livro</a>


            <a href="/cart" class="navbar-link cart-link">
                <i class="fas fa-shopping-cart"></i>
                <span>Meu Carrinho</span>
            </a>
        </div>

    </nav>
</body>