<!DOCTYPE html>
<%- include('../partials/head.ejs')%>

<body>
<%- include('../partials/navbar.ejs')%>

<!--Pegando conteudo de forma dinamica, layout é como a moldura que não queremos que mude no site-->
<%- body %> 



</body>
</html>