


    <div class="comfirmation-content">
        <div class="pay-methods">
        <div class="calculated-total">
            <label class="total">Total a Pagar:</label><span class="final-price"><p style="display: inline;"><%=subtotal%></p></span>
        </div>

        <button class="btn btn-primary">Ver Opções de Pagamento</button>
        </div>

        
        </div>

    </div>

