<div class="container">
    <h1>Edite o livro</h1>

    <form action="/<%=book.id%>?_method=PUT" method="POST">
        <div class="form-group" >
            <label for="exampleInputEmail1">Nome do Livro:</label>
            <input type="text" name="title" class="form-control" placeholder="Digite aqui">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Autor:</label>
            <input type="text" name="author" class="form-control" placeholder="Digite aqui">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Preço:</label><label>R$</label>
            <input type="text" name="price" class="form-control" placeholder="Digite aqui">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Quantidade em Estoque:</label>
            <input type="number" name="stock" class="form-control" value="1" placeholder="Digite aqui">
        </div>


        <button type="submit" class="btn btn-primary">Cadastrar livro</button>
    </form>


</div>