 <div class="row row-1">
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title ">O Programador Pragmático: De Aprendiz a Mestre</span>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author"> Andrew Hunt, David Thomas</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 50</span></label>
                    <label>Preço:<span class="shop-item-price"> R$125,50</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="cart">ADICIONAR AO CARRINHO</a>
            </div>

        </div>
        <!--Shop-item-->
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">The Mythical Man-Month: Essays on Software Engineering</span>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Frederick P. Brooks Jr.</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 32</span></label>
                    <label>Preço:<span class="shop-item-price"> R$170,19</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="cart">ADICIONAR AO CARRINHO</a>

            </div>

        </div>
        <!--Shop-item-->
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">Expressões Regulares - Uma Abordagem Divertida</span>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Aurelio Marinho Jargas</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 10</span></label>
                    <label>Preço:<span class="shop-item-price"> R$47,20</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>
        </div>
        <!--Shop-item-->

    </div>
    <!--row-1-->
    <div class="row row-2">
        <div class="shop-item col col-4 card">

            <span class="shop-item-title card-title">Domain-Driven Design: Tackling Complexity in the Heart of
                Software</span>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Eric Evans</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 32</span></label>
                    <label>Preço:<span class="shop-item-price"> R$251,14</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>

        </div>
        <!--Shop-item-->
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">Padrões de Arquitetura de Aplicações Corporativas</span>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Martin Fowler</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 25 </span></label>
                    <label>Preço:<span class="shop-item-price"> R$101,59</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>

        </div>
        <!--Shop-item-->
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">The Design of Design: Essays from a Computer
                Scientist</span>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Frederick P. Brooks Jr.</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 5</span></label>
                    <label>Preço:<span class="shop-item-price"> R$161,75</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>
        </div>
        <!--Shop-item-->

    </div>
    <!--row-2-->
    <div class="row row-3">
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">Shell Script Profissional</span>
            <br>
            <br>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Aurelio Marinho Jargas</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 37</span></label>
                    <label>Preço:<span class="shop-item-price"> R$62,35</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>

        </div>
        <!--Shop-item-->
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">NoSQL Essencial: Um Guia Conciso para o Mundo Emergente
                da Persistência Poliglota
            </span>
            <br>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Pramond J. Sadalage, Martin Fowler</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 19</span></label>
                    <label>Preço:<span class="shop-item-price"> R$52,00</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>

        </div>
        <!--Shop-item-->
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">Refactoring: Improving the Design of Existing Code</span>
            <br>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Martin Fowler</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 43</span></label>
                    <label>Preço:<span class="shop-item-price"> R$220,63</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>
        </div>
        <!--Shop-item-->

    </div>
    <!--row-3-->
    <div class="row row-4 ">
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">Clean Architecture: A Craftsman's Guide to Software
                Structure
                and
                Design</span>

            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Robert C. Martin</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 1</span></label>
                    <label>Preço:<span class="shop-item-price"> R$148,61</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>

        </div>
        <!--Shop-item-->
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">Clean Code: A Handbook of Agile Software
                Craftsmanship</span>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Robert C. Martin</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 16</span></label>
                    <label>Preço:<span class="shop-item-price"> R$180,04</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>

        </div>
        <!--Shop-item-->
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">Clean Agile: Back to Basics</span>
            <br>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Robert C. Martin</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 29</span></label>
                    <label>Preço:<span class="shop-item-price"> R$174,20</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>
        </div>
        <!--Shop-item-->

    </div>
    <!--row-4-->
    <div class="row row-5">
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">Building Microservices: Designing Fine-Grained
                Systems</span>
            <br>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Sam Newman</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 6</span></label>
                    <label>Preço:<span class="shop-item-price"> R$209,30</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>

        </div>
        <!--Shop-item-->
        <div class="shop-item col col-4 card">
            <span class="shop-item-title card-title">Designing Data-Intensive Aplications:The Big Ideas Behind
                Reliable, Scalable and Maintainable Systems
            </span>
            <div class="card-body">
                <div class="item-details">
                    <i class="fas fa-book fa-4x item-image"></i>
                    <span class="item-author">Martin Kleppmann</span>
                    <label>Quantidade em Estoque:<span class="shop-item-quantity"> 37</span></label>
                    <label>Preço:<span class="shop-item-price"> R$82,99</span></label>
                </div>
                <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
            </div>

        </div>
        <!--Shop-item-->
        <div>
            <h1>{{name}}</h1>
        </div>
    </div>
    <!--row-5-->
