<div class="shop-item col col-4 card">
    <span class="shop-item-title card-title">Designing Data-Intensive Aplications:The Big Ideas Behind
        Reliable, Scalable and Maintainable Systems
    </span>
    <div class="card-body">
        <div class="item-details">
            <i class="fas fa-book fa-4x item-image"></i>
            <span class="item-author">Martin Kleppmann</span>
            <label>Quantidade em Estoque:<span class="shop-item-quantity"> 37</span></label>
            <label>Preço:<span class="shop-item-price"> R$82,99</span></label>
        </div>
        <a class="btn btn-primary shop-item-button" href="/cart">ADICIONAR AO CARRINHO</a>
    </div>